@import '../shared/theme.scss';

footer {
    background-color: #DDDDDD;
    color: #242424;
    font-size: 13px;
    line-height: 22px;
    min-height: 26px;

    display: flex;
    align-items: center;

    padding: $common-container-padding;


    @media screen and (max-width: 830px) {
        text-align: center;
        flex-direction: column;
        .right {
            margin-left: unset !important;
        }
    }

    .right {
        margin-left: auto;
    }
}